table th{
    color: gray
  }
  table {
      border-collapse: collapse;
  }
  table th{
      color: rgb(225, 245, 179)
  }
 
  table, th, td {
    border: 1px solid black;
}
table {
    width: 100%;
}

td {
    height: 50px;
}
button{
    
    width: 20%;
   
    }
    
    body{
        background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
        background-size: 200% 400%;
    }
    input {
        width: 20em; 
         height: 2em;
    }
    